<footer>
    <div class="footer-row2">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3 col-sm-6  ftr-brand-pp">
                    <a class="navbar-brand mt0 mb20" href="index-2.html"> <img src="/static/images/footerlogo.png" alt="Logo"
                            width="70%" /></a>
                    <ul class="footer-address-list ftr-details">
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p style="font-size: 14px;">(For
                                Official Enquiry)<span> <a>[info@infovirtech.com]<br>
                                </span></a>
                                </span>
                            </p>
                        </li>
                       <!-- <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p style="font-size: 14px;">(For Internsips Enquiry)<span> <a>[hr@infovirtech.com]<br>
                                </span></a>
                                </span>
                            </p>
                        </li> -->
                        <li>
                            <span><i class="fas fa-phone-alt"></i></span>
                            <p>Phone <span> <a>+91 8277 996384</a></span></p>
                        </li>
                        <li>
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <p>Address <span> 7/4 Mughalchak, Alinagar, Mughalsarai, Chandauli (232101)</span></p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5>Company</h5>
                    <ul class="footer-address-list link-hover">
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'service' %}">Services</a></li>
                        <!--<li><a href="internships">Internships</a></li>-->
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 footer-blog-">
                    <h5>Services</h5>
                    <ul class="footer-address-list link-hover">
                        <li><a href="javascript:void(0)">Web Development</a></li>
                        <li><a href="javascript:void(0)">Android App Development</a></li>
                        <li><a href="javascript:void(0)">Logo Designing</a></li>
                        <li><a href="javascript:void(0)">Digital marketing Service</a></li>
                        <li><a href="javascript:void(0)">More...</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-row3">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-social-media-icons">
                            <a href="https://www.facebook.com/profile.php?id=100076758021136" target="blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="https://twitter.com/infovirtech?t=AbPViv6APQtE_9enikUThQ&amp;s=09" target="blank"><i
                                    class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/infovirtech/" target="blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/infovirtech-pvt-ltd/mycompany/?viewAsMember=true"
                                target="blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="footer-">
                            <p>Copyright &copy; <script type="text/javascript">
                                document.write(new Date().getFullYear());
                                </script> INFOVIRTECH PRIVATE LIMITED. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 