<header class="header-pr nav-bg-w main-header navfix fixed-top menu-white">
    <div class="container-fluid m-pad" >
        <div class="menu-header">
            <div class="dsk-logo"><a class="nav-brand" href="index-2.html">
                    <img src="/static/images/white-logo.png" alt="Logo" class="mega-white-logo" />
                    <img src="/static/images/logo.png" alt="Logo" class="mega-darks-logo" />
                </a>
            </div>
            <div class="custom-nav" role="navigation">
                <ul class="nav-list">
                    <li class="sbmenu">
                        <a href="{% url 'Home' %}" class="menu-links">Home</a>
                    </li>
                    <li class="sbmenu">
                        <a href="{% url 'about' %}" class="menu-links">About Us</a>
                    </li>
                    <li class="sbmenu">
                        <a href="{% url 'service' %}" class="menu-links">Services</a>
                    </li>
                    <!-- <li class="sbmenu rpdropdown">
                    <a href="internships" class="menu-links">Internships</a>
                </li> -->
                    <li style="color:transparent;">
                        cfhgvjh
                    </li>
                    <li><a href="{% url 'contact' %}" class="btn-br bg-btn3 btshad-b2 lnk">Request A Quote <span
                                class="circle"></span></a> </li>
                </ul>
            </div>
            <div class="mobile-menu2">
                <ul class="mob-nav2">
                    <li class="navm-"> <a class="toggle" href="#"><span></span></a></li>
                </ul>
            </div>
        </div>
        <!--Mobile Menu-->
        <nav id="main-nav">
            <ul class="first-nav">
                <li>
                    <a href="{% url 'Home' %}">Home</a>

                </li>
                <li>
                    <a href="{% url 'about' %}">About Us</a>

                </li>
                <li>
                    <a href="{% url 'service' %}">Services</a>

                </li>
                <!--<li>
                <a href="internships">Internships</a>

            </li>-->
                <li>
                    <a href="{% url 'contact' %}">Contact Us</a>

                </li>
            </ul>
        </nav>
    </div>
</header> 